body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    line-height: 28px;
}

*,
* :before,
* :after {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url("../images/Background1.jpg") center no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.intro__inner {
    width: 100%;
    max-width: 937px;
    margin: 0 auto;
    text-align: center;
}

.intro__suptitle{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
}

.intro__title {
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    font-weight: bold;
    color: white;
    line-height: 1.2;
}

.intro__undertitle {
    font-size: 24px;
    font-weight: lighter;
    color: white;  
    margin: 25px auto 0;
}

.header {
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 21px;
}

.nav {
    font-size: 16px;

}

.nav__link1 {
    display: inline-block;
    vertical-align: top;
    margin: 0 28px; 
    color: #FA4A0C;
    text-decoration: none;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 28px;
    color: black;
    text-decoration: none;
}


.buttons__container {
    display: flex;
    justify-content: center;
}
.btn {
    display: flex;  
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 40px;
    width: 200px;
    height: 53px;
    vertical-align: middle;
    padding: 16px 15px;
    border: 1px solid white;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    font-weight: bolder;
    border-radius: 30px;
}

.btn2 {
    display: flex;
    margin-right: 50px; 
    margin-left: 30px;
    margin-top: 40px;
    width: 200px;
    height: 53px;
    vertical-align: middle;
    padding: 16px 15px;
    border: 1px solid white;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    font-weight: bolder;
    border-radius: 30px;
}

.images {
    display: flex;
    justify-content: center;
}


.hr {
    background-color: #a8a8a8;
    height: 2px;
}

.instruction__inner {
    width: 100%;
    max-width: 937px;
    margin: 0 auto;
    text-align: center;
}


.instruction__title {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: bold;
    color: black;
    line-height: 1.2;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.instruction__suptitle {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin: 0 28px; 
    color: #FA4A0C;
    text-decoration: none;
}

.instruction__undertitle {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
    margin: 0 28px; 
    color: black;
    text-decoration: none;
}

.instruction__contenttitle {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    margin: 0 28px; 
    color: #737373;
    text-decoration: none;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.information__suptitle {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin: 0 28px; 
    color: #FA4A0C;
    text-decoration: none;
}

.information__undertitle {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
    margin: 0 28px; 
    color: black;
    text-decoration: none;
}

.information__title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    margin: 0 28px; 
    color: #737373;
    text-decoration: none;  
}

.end__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.description__suptitle {

    font-size: 24px;
    font-weight: bold;
    margin: 0 28px; 
    color: #FA4A0C;
    text-decoration: none;
    
}

.description__undertitle {   
    font-size: 40px;
    font-weight: bold;
    vertical-align: top;
    margin: 0 28px; 
    color: black;
    text-decoration: none;
}

.description__contenttitle {
    font-size: 24px;
    font-weight: bold;
    vertical-align: top;
    margin: 0 28px; 
    color: #737373;
    text-decoration: none;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url("../images/Background2.jpg") center no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
}

.end__inner {
    width: 100%;
    max-width: 937px;
    margin: 0 auto;
    text-align: center;
}

.end__suptitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
}

.end__title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    line-height: 1.2;
}
.buttonsend__container{
    display: flex;
    justify-content: center;
}

.btnend{
    display: flex;  
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 40px;
    width: 200px;
    height: 53px;
    vertical-align: middle;
    padding: 16px 15px;
    border: 1px solid white;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    font-weight: bolder;
    border-radius: 30px;
}

.btnend2{
    display: flex;
    margin-right: 50px; 
    margin-left: 30px;
    margin-top: 40px;
    width: 200px;
    height: 53px;
    vertical-align: middle;
    padding: 16px 15px;
    border: 1px solid white;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration-line: none;
    font-weight: bolder;
    border-radius: 30px;
}

.last__block {
    width: 206px;
    height: 106px;
    background: url("../images/Bella.png") left no-repeat;

}